<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#myNavbar">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <div class="navbar-left logo-custom">
            <a href="@Url.Action("Index", "Home")"><img src="~/images/logo.png" width="55" height="40"></a>
        </div>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
        <ul class="nav navbar-nav">
            @if (User.Identity.IsAuthenticated)
            {
                <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                <li><a href="@Url.Action("Profile", "Home")">Профиль</a></li>
                <li><a href="@Url.Action("LogOff", "Login")">Выйти</a></li>
            }
            else
            {
                <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                <li><a href="@Url.Action("Index", "Login")">Авторизация</a></li>
            }
        </ul>
    </div>
</div>
