@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    ViewBag.Title = "Профиль";
}

@model Dream_voyage.Web.Models.UserData

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="section">
    <div class="container">
        <div class="col-lg-3 col-md-4">
            <div class="text-center card-box">
                <div class="member-card">
                    <div class="thumb-xl member-thumb m-b-10 center-block">
                        @if (Model.ImageFilePath == null)
                        {
                            <img src="~/images/profile.png" class="img-circle img-thumbnail" alt="profile-image">
                        }
                        else
                        {
                            <img src="~/images/profile/@Model.ImageFilePath" class="img-circle img-thumbnail" alt="profile-image">
                        }
                    </div>
                    <div class="">
                        <h4 class="m-b-5">@Model.Username</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-8 col-lg-9">
            <div class="">
                <div class="">
                    <ul class="nav nav-tabs navtab-custom">

                        <li class="active">
                            <a href="#profile" data-toggle="tab" aria-expanded="true">
                                <span class="visible-xs"><i class="fa fa-photo"></i></span>
                                <span class="hidden-xs">МОИ ТУРЫ</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#settings" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                <span class="hidden-xs">НАСТРОЙКИ</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                            <div class="row">
                                @if (Model.Tours.Count > 0)
                                {
                                    foreach (var tour in Model.Tours)
                                    {
                                        <div class="col-sm-4">
                                            <div class="gal-detail thumb">
                                                <a href="~/Home/@tour.TourHref" class="image-popup" title="Screenshot-2">
                                                    <img src="@tour.TourImage" class="thumb-img" alt="work-thumbnail">
                                                </a>
                                                <h4 class="text-center">@tour.TourName</h4>
                                                <div class="ga-border"></div>
                                                @using (Ajax.BeginForm("Delete", "Home", new AjaxOptions
                                                {
                                                    HttpMethod = "POST",
                                                    OnSuccess = "success",
                                                    OnFailure = "fail",
                                                    UpdateTargetId = "resultTarget"
                                                }))

                                                {
                                                    <input type="hidden" id="tourId" name="tourId" value="@tour.TourId">
                                                    <div style="text-align:center">
                                                        <input type="submit" class="link" value="Удалить">
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="col-sm-4"> В списке пока нет туров.</div>
                                }
                            </div>
                        </div>

                        <div class="tab-pane" id="settings">
                            @using (Html.BeginForm("Profile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <form action="#">
                                    <div class="form-group">
                                        <label for="Username">Новый логин</label>
                                        @Html.TextBoxFor(m => m.Username, new
                                   {
                                       placeholder = "",
                                       title = "",
                                       value = "",
                                       name = "username",
                                       id = "username",
                                       @class = "form-control"
                                   })
                                    </div>
                                    <div class="form-group">
                                        <label for="Password">Новый пароль</label>
                                        @Html.TextBoxFor(m => m.Password, new
                                   {
                                       placeholder = "",
                                       title = "",
                                       value = "",
                                       type = "password",
                                       name = "password",
                                       id = "password",
                                       @class = "form-control"
                                   })
                                    </div>
                                    <div class="form-group">
                                        <label>Загрузить фотографию</label>
                                        @*<label class="custom-file">
                                                <input type="file" id="file" class="custom-file-input">
                                            </label>*@
                                        @Html.TextBoxFor(m => m.ImageFile, new { type = "file" })
                                    </div>
                                    <button class="btn btn-primary waves-effect waves-light w-md" type="submit">Сохранить изменения</button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
